<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    {{>header}}
    <div class="main-content">
      You will get the weather data here
      <form>
        <input placeholder="Enter Location" class="location-field" type="text" name="address" id="address">
        <button type="submit">Get Data</button>
      </form>
      <p id="forecast"></p>
    </div>
    {{>footer}}
    <script src="/js/main.js"></script>
  </body>
</html>