<header>
  <h1>{{title}}</h1>
  <div>
    <ul>
      <li><a href="/" target="_self" rel="noopener noreferrer">Home</a></li>
      <li><a
          href="/about"
          target="_self"
          rel="noopener noreferrer"
        >About</a></li>
      <li><a href="/help" target="_self" rel="noopener noreferrer">Help</a></li>
      <li><a
          href="/weather"
          target="_self"
          rel="noopener noreferrer"
        >Weather</a></li>
    </ul>
  </div>
</header>