body {
  width: 50dvw;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #333333;
  box-sizing: border-box;
  min-height: 100vh;
}

header > h1 {
  font-size: 3rem;
  color: #64748b;
}

header ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  list-style-position: outside;
  padding-inline-start: 0;
  font-size: 20px;
}

body .main-content {
  flex-grow: 1;
}

p {
  font-size: 16px;
}

header a:visited {
  color: initial;
}

footer {
  padding-top: 0.5rem;
  border-top: 1px solid #64748b;
}
